<tr class="nested-fields">
  <% if current_user.department_id == 1 %>
  <td><%= f.select(:type_product, options_for_select([['Maja Repair & Maintennce','[The Maja] Repair & Maintenance'],['Maja Stationary & Printing','[The Maja] Stationary & Printing'],['Maja Office Equipment','[The Maja] Office Equipment'],['Maja Office Supplies and Materials','[The Maja] Office Supplies and Materials'],['Maja Furniture','[The Maja] Furniture'],['Maja Leasehold Improvements','[The Maja] Leasehold Improvements'],['Maja Advertising & Promotional','[The Maja] Advertising & Promotional'],['Maja Event Expenses','[The Maja] Event Expenses'],['Maja Event Meal','[The Maja] Event Meal'],['Maja Event Revenue','[The Maja] Event Revenue'],['Maja Office Expenses','[The Maja] Office Expenses'],['Maja Other Miscellaneous Expenses','[The Maja] Other Miscellaneous Expense'],['Maja Cash held by Community','[The Maja] Cash held by Community'],['Maja Cash held by facility','[The Maja] Cash held by Facility'],['Breeze Repair & Maintenance','[The Breeze] Repair & Maintenance'],['Breeze Stationary & Printing','[The Breeze] Stationery and Printing'],['Breeze Office Equipment','[The Breeze] Office Equipment'],['Breeze Office Supplies and Materials','[The Breeze] Office Supplies and Materials'],['Breeze Furniture','[The Breeze] Furniture'],['Breeze Leasehold Improvements','[The Breeze] Leasehold Improvements'],['Breeze Advertising & Promotional','[The Breeze] Advertising & Promotional'],['Breeze Event Expenses','[The Breeze] Event Expenses'],['Breeze Event Meal','[The Breeze] Event Meal'],['Breeze Event Revenue','[The Breeze] Event Revenue'],['Breeze Office Expenses','[The Breeze] Office Expenses'],['Breeze Other Miscellaneous Expenses','[The Breeze] Other Miscellaneous Expense'],['Breeze Cash held by Community','[The Breeze] Cash held by Community'],['Breeze Cash held by facility','[The Breeze] Cash held by Facility']], :selected => f.object.type_product), :class => 'form-control', :include_blank => true) %></td>
  <% else %>
    <% if current_user.center.name == "The Maja" %>
    <td><%= f.select(:type_product, options_for_select([['Repair & Maintennce','[The Maja] Repair & Maintenance'],['Stationary & Printing','[The Maja] Stationary & Printing'],['Office Equipment','[The Maja] Office Equipment'],['Office Supplies and Materials','[The Maja] Office Supplies and Materials'],['Furniture','[The Maja] Furniture'],['Leasehold Improvements','[The Maja] Leasehold Improvements'],['Advertising & Promotional','[The Maja] Advertising & Promotional'],['Event Expenses','[The Maja] Event Expenses'],['Event Meal','[The Maja] Event Meal'],['Event Revenue','[The Maja] Event Revenue'],['Office Expenses','[The Maja] Office Expenses'],['Other Miscellaneous Expenses','[The Maja] Other Miscellaneous Expense'],['Cash held by Community','[The Maja] Cash held by Community'],['Cash held by facility','[The Maja] Cash held by Facility']], :selected => f.object.type_product), :class => 'form-control', :include_blank => true) %></td>
    <% elsif current_user.center.name == "The Breeze" %>
    <td><%= f.select(:type_product, options_for_select([['Repair & Maintennce','[The Breeze] Repair & Maintenance'],['Stationary & Printing','[The Breeze] Stationery and Printing'],['Office Equipment','[The Breeze] Office Equipment'],['Office Supplies and Materials','[The Breeze] Office Supplies and Materials'],['Furniture','[The Breeze] Furniture'],['Leasehold Improvements','[The Breeze] Leasehold Improvements'],['Advertising & Promotional','[The Breeze] Advertising & Promotional'],['Event Expenses','[The Breeze] Event Expenses'],['Event Meal','[The Breeze] Event Meal'],['Event Revenue','[The Breeze] Event Revenue'],['Office Expenses','[The Breeze] Office Expenses'],['Other Miscellaneous Expenses','[The Breeze] Other Miscellaneous Expense'],['Cash held by Community','[The Breeze] Cash held by Community'],['','[The Breeze] Cash held by Facility']], :selected => f.object.type_product), :class => 'form-control', :include_blank => true) %></td>
    <% else %>
      <td><%= f.text_field :type_product, :placeholder =>'Type product', :class => 'form-control' %></td>
    <% end %>
  <% end %>
  <td><%= f.text_field :product, :placeholder =>'Product Name', :class => 'form-control' %></td>
  <td><%= f.text_field :price,:placeholder =>'Product Price',:class => 'form-control', :required => true %></td>
  <td><%= f.text_field :quantity,:placeholder =>'Quantity', :class => 'form-control', :required => true %></td>
  <td><%= f.text_field :vendor,:placeholder =>'vendor',:class => 'form-control' %></td>
  <% if current_user.department_id == 1 %>
  <td><%= f.select :status, [['Approve','1'],['Dissaprove','2']], :class => 'form-control', :include_blank => true %></td>
  <% end %>
  <td><%= link_to_remove_association "x", f %></td>
</tr>
