<% @budgets.each do |budget| %>
    <tr>
      <td><%= check_box_tag "budget_ids[]", budget.id %></td>
      <td><%= budget.date %></td>
      <td><%= budget.id_request %></td>
      <td><%= budget.user.fullname %></td>
      <!-- <td><%= budget.details %></td> -->
      <!-- <td><%= budget.cash_in %></td> -->
      <!-- <td><%= budget.cash_out %></td> -->
      <td>
        <% if budget.status == 1 %>
        <span class="label label-warning">Request</span>
        <% elsif budget.status == 2 %>
        <span class="label label-default">Revise</span>
        <% elsif budget.status == 3 %>
        <span class="label label-success">Approve By Finance</span>
        <% elsif budget.status == 6 %>
        <span class="label label-success">Approve By Head</span>
        <% elsif budget.status == 7 %>
        <span class="label label-success">Approve By CFO</span>
        <% elsif budget.status == 4  %>
        <span class="label label-info">Spend</span>
        <% elsif budget.status == 5 %>
        <span class="label label-danger">Reject</span>
        <% end %>
    </td>
    <td><%= budget.subtotal %></td>
    <td><%= link_to 'show', budget, :class => 'btn btn-success' %><%= link_to 'Edit', edit_budget_path(budget), :class => 'btn btn-default' %></td>
    </tr>
<% end %>
