<%= form_for(@procurement) do |f| %>
  <% if @procurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procurement.errors.count, "error") %> prohibited this procurement from being saved:</h2>

      <ul>
      <% @procurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if @procurement.new_record? %>
      <p><b>Name:</b> <%= current_user.fullname %> </p>
    <% else %>
      <p><b>Name:</b> <%= @procurement.user.fullname %> </p>
    <% end %>
    <p><b>Center:</b> <%= current_user.center.name %> </p>
  </div>
  <div class="field" style="display:none">
    <%= f.label :user_id %><br>
    <% if @procurement.new_record? %>
      <%= f.text_field :user_id, :value => current_user.id, :class => 'form-control' %>
    <% end %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :center_id %><br>
    <% if @procurement.new_record? %>
    <%= f.text_field :center_id ,:value => current_user.center.id, :class => 'form-control' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :purpose %><br>
    <%= f.text_field :purpose, :class => 'form-control' %>
  </div>
  <% if current_user.head == 1 %>
    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select :status, [['Request','1'],['Approve By Head','2'],['Approve by Procurement','3'],['Approve by Finance','4'],['Reject','5']], :class => 'form-control', :include_blank => true %>
    </div>
  <% end %>
  <div class="product_lists">
    <%= f.fields_for :product_lists do |builder| %>
      <%= render 'product_list_fields', f: builder %>
    <% end %>
  </div>
  <div class='links'>
    <%= link_to_add_association '+', f, :product_lists, :data => {"association-insertion-node" => ".product_lists", "association-insertion-method" => "append"} ,:class => 'btn btn-primary' %>
  </div>
  <div class="actions col-md-12">
    <%= f.submit 'submit', :class => 'btn btn-success'  %>
  </div>
<% end %>
