<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h4>Procurement</h4>
    <%= link_to 'New Procurement', new_procurement_path, :class => 'btn btn-success' %>
    <hr>
  </div>
  <div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body tabs">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="false" style="color:grey">Request <span class="badge"> <%= @request.count %> </span></a></li>
							<li><a href="#tab2" data-toggle="tab" aria-expanded="true" style="color:blue">Approve by head <span class="badge"> <%= @head.count %></a></li>
							<li><a href="#tab3" data-toggle="tab" style="color:#ff7600">Approve by Procurement <span class="badge"> <%= @procurement.count %></a></li>
              <li><a href="#tab4" data-toggle="tab" style="color:green">Approve by Finance <span class="badge"> <%= @finance.count %></a></li>
              <li><a href="#tab5" data-toggle="tab" style="color:red">Reject <span class="badge"> <%= @finance.count %></a></li>  
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tab1">
                <h3>Request</h3>
                <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Center</th>
                        <th>Purpose</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @request.each do |procurement| %>
                        <tr>
                          <td><%= procurement.user.fullname %></td>
                          <td><%= procurement.center.name %></td>
                          <td><%= procurement.purpose %></td>
                          <td><%= procurement.status_message %></td>
                          <td><%= link_to 'Show', procurement %></td>
                          <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
                          <td><%= link_to 'Destroy', procurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
							</div>
							<div class="tab-pane fade" id="tab2">
                <h3>Head</h3>
                <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Center</th>
                        <th>Purpose</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @head.each do |procurement| %>
                        <tr>
                          <td><%= procurement.user.fullname %></td>
                          <td><%= procurement.center.name %></td>
                          <td><%= procurement.purpose %></td>
                          <td><%= procurement.status_message %></td>
                          <td><%= link_to 'Show', procurement %></td>
                          <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
                          <td><%= link_to 'Destroy', procurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
							</div>
							<div class="tab-pane fade" id="tab3">
                <h3>Procurement</h3>
                <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Center</th>
                        <th>Purpose</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @procurement.each do |procurement| %>
                        <tr>
                          <td><%= procurement.user.fullname %></td>
                          <td><%= procurement.center.name %></td>
                          <td><%= procurement.purpose %></td>
                          <td><%= procurement.status_message %></td>
                          <td><%= link_to 'Show', procurement %></td>
                          <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
                          <td><%= link_to 'Destroy', procurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
							</div>
              <div class="tab-pane fade" id="tab4">
                <h3>Finance</h3>
                <hr>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Center</th>
                        <th>Purpose</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @finance.each do |procurement| %>
                        <tr>
                          <td><%= procurement.user.fullname %></td>
                          <td><%= procurement.center.name %></td>
                          <td><%= procurement.purpose %></td>
                          <td><%= procurement.status_message %></td>
                          <td><%= link_to 'Show', procurement %></td>
                          <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
                          <td><%= link_to 'Destroy', procurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
						</div>
					</div>
				</div><!--/.panel-->
  </div>
</div>
