
<p>
  <strong>Transaction date:</strong>
  <%= @petty_cash.transaction_date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @petty_cash.source %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @petty_cash.recipient %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @petty_cash.detail %>
</p>

<p>
  <strong>P category:</strong>
  <%= @petty_cash.p_category %>
</p>

<p>
  <strong>Amount in:</strong>
  <%= @petty_cash.amount_in %>
</p>

<p>
  <strong>Amount out:</strong>
  <%= @petty_cash.amount_out %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @petty_cash.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @petty_cash.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @petty_cash.user_id %>
</p>

<%= link_to 'Edit', edit_petty_cash_path(@petty_cash) %> |
<%= link_to 'Back', petty_cashes_path %>
