
<div style="float: right;margin-bottom:10px">
<%= link_to 'new request', new_budget_path, :class => 'btn btn-primary' %>
</div>
<table id="budgets">
  <thead>
    <tr>
      <th>Date</th>
      <th>Id request</th>
      <th>User</th>
      <th>Details</th>
      <th>Cash in</th>
      <th>Cash out</th>
      <th>status</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.date %></td>
        <td><%= budget.id_request %></td>
        <td><%= budget.user_id %></td>
        <td><%= budget.details %></td>
        <td><%= budget.cash_in %></td>
        <td><%= budget.cash_out %></td>
        <td>
          <% if budget.status == 1 %>
          <span class="label label-warning">Request</span>
          <% elsif budget.status == 2 %>
          <span class="label label-default">Revise</span>
          <% elsif budget.status == 3 %>
          <span class="label label-success">Approve</span>
          <% elsif budget.status == 4  %>
          <span class="label label-info">Spend</span>
          <% end %>
      </td>
      <td><%= link_to 'Edit', edit_budgets_revise_path(budget) %></td>
        <!-- <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Budget', new_budget_path %> -->
