<div class="row">
  <div class="col-md-12">
    <h1>Editing Invoice</h1>
    <hr>
    <%= form_for @search, html: {class: "pure-form  col-md-6"} do |f| %>
      <div class="form-group">
        <%= f.label :company %>
        <%= f.text_field :company, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Date' %>
        <%= f.date_field :sdate, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tax %>
        <%= f.select(:tax, [['Active', true], ['Inactive', false]], { :include_blank => true}) %>
      </div>
      <div class="actions">
        <%= f.submit "Generate", :class => 'btn btn-primary' %>
        <%= link_to 'Back', searches_path, :class => 'btn btn-default' %>
      </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $(".company_select").select2({
    placeholder:'Select person'
  });
});
</script>
