<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @overtime.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @overtime.user_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @overtime.note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @overtime.status %>
</p>

<p>
  <strong>Center:</strong>
  <%= @overtime.center_id %>
</p>

<%= link_to 'Edit', edit_overtime_path(@overtime) %> |
<%= link_to 'Back', overtimes_path %>
