<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Forgot your password?</div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Send me reset password instructions", :class => 'btn btn-block btn-primary' %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>

      </div>
    </div>
  </div>
</div>
