<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :jurnal_name %><br>
    <%= f.text_field :jurnal_name %>
  </div>
  <div class="form-group">
    <%= f.label :center_id %><br>
    <%= f.collection_select :center_id, Center.order(:name), :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :unit %><br>
    <%= f.select :unit, [['Room','Room'],['Hour','Hour'],['Day(s)','Day(s)']], :class => 'form-control', :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
