<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Jurnal name:</strong>
  <%= @product.jurnal_name %>
</p>

<p>
  <strong>Center:</strong>
  <%= @product.center.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
